<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h1 class="title-card">{{hotel.title}}</h1>
          </mat-card-title>
        </mat-card-header>
        <img class="main-photo" mat-card-image src={{hotel.picture}} alt={{hotel.title}}>
        <mat-card-content>
           <ul>
             <li>{{hotel.address}}</li>
             <li>{{hotel.phone}}</li>
           </ul>
            <p>{{hotel.description}}</p>
          <app-weather [weather]="hotel.weather"></app-weather>
          <app-profile [profile]="hotel.profile"></app-profile>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
